*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 450px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(red, green, blue, alpha);
}
h3{
    margin-bottom: 15px;
}
select,input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
}
.info{
    display: flex;
    gap: 10px;
}
.checkbox{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 12px;
    margin-left: -10px;
}