*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 450px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(red, green, blue, alpha);
}
h3{
    margin-bottom: 15px;
}
select,input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
}
.info{
    display: flex;
    gap: 10px;
}
.register-btn{
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg,#ff7a00,#ffb347);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 5px 12px rgba(red, green, blue, alpha);

}
.register-btn:active{
    transform: scale(0.97);
    
}